body {
  background-image: url('https://www.sardep.com.br/images/materiais/marmores/importados/marmore-importado-carrara.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

section {
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 100px;
  background-color: white;
  padding: 15px;
  border: 5px solid #ffdb26;
  border-radius: 10px;
}

header {
  background-image: url('https://www.ilovewallpaper.ie/images/house-of-alice-onyx-marble-metallic-wallpaper-soft-pink-rose-gold-h980567-p5633-14990_zoom.jpg');
  background-size: cover;
  height: 80px;
  border-radius: 10px;
}

div {
  padding: 20px;
  border: 3px solid #25002e;
  background-color: #fde7e8;
  border-radius: 10px;
}

div h2 {
  text-align: center;
}

section h1 {
  text-align: center;
  font-family: 'Pinyon Script', cursive;
  font-size: 40px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%) ;
  border: 8px solid #ffdb26;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

a:active {
  text-decoration: underline;
  color: blue;
}
